button {
  font-size: 20px;
  width: auto;
  margin: 0 20px;
  padding: 10px 24px;
  color: var(--darknavy);
  border: 2px var(--darknavy) solid;
  border-radius: 8px;
  overflow: hidden;
  background: none;
  position: relative;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

button:hover {
  color: var(--white);
}

button:before {
  position: absolute;
  background: var(--black);
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  transition: top 0.09s ease-in;
  -webkit-transition: top 0.09s ease-in;
}

button:hover:before {
  z-index: -1;
  top: 0;
}

button.java:after,
button.java:before {
  background: var(--darknavy);
}

button.scratch:after,
button.scratch:before {
  background: var(--gold);
}

button.scratch:hover {
  border: 2px var(--gold) solid;
}

button.abacus:after,
button.abacus:before {
  background: var(--teal);
}

button.abacus:hover {
  border: 2px var(--teal) solid;
}
