@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro&display=swap");

#yearSelector {
  margin: 1rem -.3rem;
  font-family: 1rem Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  display: flex;
}

#yearSelector a {
  color: inherit;
  border-radius: .28rem;
  padding: .78rem .92rem;
  margin: .3em;
}

#yearSelector a.active,
#yearSelector a:hover {
  background: rgba(0, 0, 0, 0.05);
}

.event {
  font-family: "Source Sans Pro";
  border-bottom: 1px solid #CCCCCC;
  padding: 30px;
  display: flex;
}

.event :is(h1, div, p) {
  margin: 0;
}

.event .date {
  text-align: center;
  margin: 1rem 0;
}

.event .date .month {
  color: red;
  font-size: 1.1rem;
}

.event .date .day {
  color: black;
  font: 3rem/3rem "Noto Sans";
}

.event .details {
  padding: 1rem;
  margin-left: 20px;
}

.event .details .title {
  color: #036;
  font-size: 1.5rem;
}

.event .details .desc {
  color: #222;
  font-size: 1rem;
  margin-top: 5px;
}

.event.passed .date .month,
.event.passed .date .day,
.event.passed .details .title,
.event.passed .details .desc,
.event.passed .details .desc a {
  color: #CCC;
}