@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro&display=swap");

.event {
  font-family: "Source Sans Pro";
  border-bottom: 1px solid #ccc;
  padding: 30px;
}

.event .date {
  text-align: center;
  float: left;
  width: 50px;
  margin: 15px 0;
}

.event .date .month {
  color: #ff2852;
  font-size: 18px;
  margin: 0;
}

.event .date .day {
  color: black;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  font-weight: lighter;
  font-family: "Noto Sans";
}

.event .details {
  padding: 15px;
  margin-left: 70px;
}

.event .details .title {
  color: #036;
  font-size: 24px;
  margin: 0;
}

.event .details .desc {
  color: #333;
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
}

.event.passed .date .month,
.event.passed .date .day,
.event.passed .details .title,
.event.passed .details .desc,
.event.passed .details .desc a {
  color: #bbb;
}
