label,
th {
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 14px;
  color: #555;
}

label {
  display: block;
  margin: 5px;
}

label.sub {
  font-size: 14px;
  font-style: italic;
  margin: 15px;
}

.one-line {
  display: inline-block;
}

.one-line .input-group {
  float: left;
}

input,
textarea,
select.custom-select {
  background: #eee;
  padding: 10px;
  margin: 5px;
  width: auto;
  font-size: 16px;
  border: none;
}

b.req {
  color: red;
}

input.double {
  width: 400px;
}

input:disabled {
  color: #999;
}

input:disabled:hover,
input:disabled:focus {
  cursor: not-allowed;
  background: #eee;
}

textarea {
  width: 40em;
  height: 5em;
}

input:hover {
  cursor: text;
  background: #e7e7e7;
}

button:hover {
  cursor: pointer;
  background: #e7e7e7;
}

input:focus,
button:focus {
  background: #ddd;
}

input[type='submit'] {
  cursor: pointer !important;
  font-size: 20px;
  width: 250px;
  padding: 10px !important;
  border-radius: 8px !important;
  border: none;
  color: white;
  background: transparent;
  position: relative;
  padding: 10px 24px;
  color: #244770;
  border: 2px #244770 solid;
  border-radius: 4px;
  overflow:hidden;
  background: none;
  z-index: 0;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

input[type='submit']:hover {
  color: #fff;
  background: #244770;
}

.form-hidden-section {
  display: none;
}

/*************
*   Select   *
*************/

select.custom-select {
  font-size: 16px;
  border-radius: 0px;
  padding-right: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://image.flaticon.com/icons/png/512/120/120906.png) 90% /
    10% no-repeat #eee;
}

select.custom-select:hover {
  background: url(https://image.flaticon.com/icons/png/512/120/120906.png) 90% /
    10% no-repeat #e7e7e7;
}

select.custom-select:focus {
  background: url(https://image.flaticon.com/icons/png/512/120/120906.png) 90% /
    10% no-repeat #ddd;
}

/*************
* End Select *
*************/

/***************
*   Checkbox   *
***************/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
}

.checkbox-container input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #79bf5d;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/***************
* End Checkbox *
***************/

/*************
*   Slider   *
*************/

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #79bf5d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/*************
* End Slider *
*************/

/*****************
*   Form Table   *
*****************/

.form-table button {
  background: #eee;
  color: #666;
  width: 26px;
  height: 26px;
  font-size: 18px;
  vertical-align: middle;
  border: none;
}

.form-table input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  background: #eee;
  font-size: 16px;
}
/*****************
* End Form Table *
*****************/

/*****************
*   Swal Modal   *
*****************/

.swal2-custom-popup {
  font-family: Trebuchet, Arial, sans-serif;
}

.swal2-custom-icon {
  color: #036 !important;
  border-color: #036 !important;
}

.swal2-custom-confirm {
  background-color: #036 !important;
}

.swal2-custom-cancel {
  background-color: #969696 !important;
}

.swal2-custom-title {
  color: #036 !important;
}

.swal2-custom-content {
  color: #969696 !important;
}
/*****************
* End Swal Modal *
*****************/
