@import url('https://fonts.googleapis.com/css?family=Roboto|Poppins|Roboto+Slab|Open+Sans:400,400i,600,700|Squada+One|Ubuntu&display=swap');
 html, body {
     margin :0;
     scrollbar-width: none;
}
 * {
     scrollbar-width: none;
}
 #navbar {
     height: 60px;
     border-bottom: 2px solid #244770;
     box-shadow: 0px 0px 10px #888;
     background: #f5f5f5;
     white;
     z-index: 1;
     margin: auto;
     display: flex;
     width: 100%;
     top: 0;
     position: fixed;
}
 #navbar img {
     margin: 5px;
     height: 150%;
     float: left;
}
 #navbar ul {
     list-style-type: none;
     float: left;
     width: 100%;
}
 #navbar li {
     color: #244770;
     float: left;
     margin: auto 15px;
     font-size: 16px;
     font-family: Poppins, Roboto, Ubuntu;
}

 #navbar li.active {
     font-weight: bold;
     border-bottom: 2px solid #244770;
}
 .container {
     margin-top: 40px;
     width: 60%;
     min-height: 90%;
     padding: 30px 20%;
     overflow: scroll;
/*   height: 90%;      */
}
 #footer {
     position: relative;
     padding: 10px;
     margin-top: 50px;
     background: #EFEFEF;
}
 #footer .acmlogo {
     height: 100px;
}
 h1.title {
     color: rgb(38, 60, 76);
     font-size: 37px;
	 font-family: "Open Sans";
	 font-weight: 400;
}
 h1.title:after {
     background-color: rgb(221, 221, 221);
     display: block;
     content: " ";
     height: 3.5px;
     margin: 18px 0;
     width: 27px;
}
h1 {
     color: rgb(38, 60, 76);
     font-family: "Open Sans";
     font-weight: normal;
}
 h2, h3, h4, h5 {
     color: rgb(38, 60, 76);
     font-family: "Open Sans";
     font-weight: bold;
}
 a {
     text-decoration: none;
     color: #003366;
     font-weight: 600;
}
p {
     font-family: "Open Sans";
     color: rgb(33, 39, 45);
     font-size: 18px;
     line-height: 27px;
}
 li {
	font-family: "Open Sans";
	font-size: 16px;
 }
 code {
     color: #bf616a;
     background: #f9f9f9;
     padding: .25em .5em;
     border-radius: 3px;
     font-size: 85%;
}
 pre.prettyprint {
     background: #f9f9f9;
     border: none !important;
     padding: .25em .5em !important;
     border-radius: 3px !important;
}
 ::-webkit-scrollbar {
     width: 0;
     background: transparent;
}
 