@import url("https://fonts.googleapis.com/css?family=Roboto|Poppins|Roboto+Slab|Open+Sans:400,400i,600,700|Squada+One|Ubuntu&display=swap");
html,
body {
  margin: 0;
  scrollbar-width: none;
}
* {
  scrollbar-width: none;
}

.container {
  margin-top: 40px;
  width: 60%;
  min-height: 90%;
  padding: 30px 20%;
  overflow: scroll;
  /*   height: 90%;      */
}

h1.title {
  color: rgb(38, 60, 76);
  font-size: 37px;
  font-family: "Open Sans";
  font-weight: 400;
}
h1.title:after {
  background-color: rgb(221, 221, 221);
  display: block;
  content: " ";
  height: 3.5px;
  margin: 18px 0;
  width: 27px;
}
h1 {
  color: rgb(38, 60, 76);
  font-family: "Open Sans";
  font-weight: normal;
}
h2,
h3,
h4,
h5 {
  color: rgb(38, 60, 76);
  font-family: "Open Sans";
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #003366;
  font-weight: 600;
}
p {
  font-family: "Open Sans";
  color: rgb(33, 39, 45);
  font-size: 18px;
  line-height: 27px;
}
li {
  font-family: "Open Sans";
  font-size: 16px;
}
code {
  color: #bf616a;
  background: #f9f9f9;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  font-size: 85%;
}
pre.prettyprint {
  background: #f9f9f9;
  border: none !important;
  padding: 0.25em 0.5em !important;
  border-radius: 3px !important;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
