#navbar {
  height: 60px;
  border-bottom: 2px solid #244770;
  box-shadow: 0px 0px 10px #888;
  background: #f5f5f5;
  z-index: 1;
  margin: auto;
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
}

#navbar img {
  margin: 5px;
  height: 150%;
  float: left;
}

#navbar ul {
  list-style-type: none;
  float: left;
  width: 100%;
}

#navbar li {
  color: #244770;
  float: left;
  margin: auto 15px;
  font-size: 16px;
  font-family: Poppins, Roboto, Ubuntu;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

#navbar li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #244770;
  height: 3px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#navbar li:hover:before, #navbar li:focus:before, #navbar li:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#navbar li.active {
  font-weight: bold;
  border-bottom: 3px solid #244770;
}